body{
    background-size: cover;
    background-repeat:no-repeat ;
}
.list{
    text-align: right;
}
#lib{
    color: black;
}

#jbt{
    text-align: center;
   

    
}
div.jbt1{
padding: 20px 100px 20px 100px;

}

