<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/display.css' %}">
    {% include "library_app/base.html" %}
    <style>
        body{
            background-image:url("{% static 'images/lib.jpg' %}");
        }
        #jbt{
          background-image: url("{% static 'images/book2.jpg' %}");
        }
    </style>
</head>
<body >
    <!-- navbar navbar-dark bg-primary -->
    {% include "library_app/navbar.html" %}
      <br>
      
      <div class='jbt1'>
      <div class="jumbotron" id="jbt" >
        <h1 id="a">Book Details</h1>
        <form class="form-inline md-form mr-auto mb-4" action="" method="post" >{%csrf_token%}
          
  <input class="form-control mr-sm-3" type="text" placeholder="Search by Book name" aria-label="Search" name="val"  style="background-color: rgba(227, 227, 227, 0.833); color: rgb(5, 6, 7); ">
  <button class="btn aqua-gradient btn-rounded btn-sm my-0" type="submit">Search</button>

</form>
        <br>
        <div class="table-responsive">
          {% if user.is_superuser == 1 %}
            <table class="table" id="t" border="2px">
              <thead>
                <tr>
                  <th  class="th-lg"></th>
                  <th class="th-lg">B_name</th>
                  <th class="th-lg">A_name</th>
                  <th class="th-lg">Publish_Date</th>
                  <th class="th-lg">B_Category</th>
                </tr>
              </thead>
              <tbody>
                {% for i in data %}
                <tr class="tr">
                  
                 <td>{{ forloop.counter }}</td>
                 <td>{{i.B_name}}</td>
                  <td>{{i.A_name}}</td>
                  <td>{{i.Date}}</td>
                  <td>{{i.B_category}}</td>
                </tr>
                {% endfor %}
            </table>
            {% else %}
            
            <table class="table" id="t" border="2px">
              <thead>
                <tr>
                  <th class="th-lg">B_name</th>
                  <th class="th-lg">A_name</th>
                  <th class="th-lg">Publish_Date</th>
                  <th class="th-lg">B_Category</th>
                </tr>
              </thead>
              <tbody>
                {% for i in data %}
                <tr class="tr">
                  
                 <td>{{i.B_name}}</td>
                  <td>{{i.A_name}}</td>
                  <td>{{i.Date}}</td>
                  <td>{{i.B_category}}</td>
                  <td><a class="btn btn-primary btn-lg" href="/issue_book/{{user.id}}/{{i.B_name}}/{{user.username}}">request</a></td>
                </tr>
                {% endfor %}
            </table>
            {% endif %} 
          </div>
            <span class="lead" >
              <a href="/index/" class="btn btn-primary " style="color: rgb(253, 253, 253); text-decoration: none; ">Go Back</a>
              </span>
            </div>
          </form>
        </p>
      </div>
    </div>
    {% include "library_app/footer.html" %}
</body>
</html>