<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/display.css' %}">
    {% include "library_app/base.html" %}
    <style>
        body{
            background-image:url("{% static 'images/lib.jpg' %}");
        }
        #jbt{
          background-image: url("{% static 'images/students.jpg' %}");
        }
    </style>
</head>
<body >
    <!-- navbar navbar-dark bg-primary -->
    {% include "library_app/navbar.html" %}
      <br>
      
      <div class='jbt1'>
      <div class="jumbotron" id="jbt" >
        <h1 id="a" class="text-light bg-dark">Students Detail</h1>
        <form class="form-inline md-form mr-auto mb-4" action="" method="post" >{%csrf_token%}
          
  <input class="form-control mr-sm-3" type="text" placeholder="Search by student name" aria-label="Search" name="val"  style="background-color: rgba(227, 227, 227, 0.833); color: rgb(5, 6, 7); ">
  <button class="btn aqua-gradient btn-rounded btn-sm my-0" type="submit">Search</button>

</form>
        <br>
        <!--Table-->
        <div class="table-responsive">

            <!--Table-->
            <table class="table" id="t" border="2px">
          
              <!--Table head-->
              <thead>
                <tr>
                  <!-- <th>#</th> -->
                  
                  <th class="th-lg">S_id</th>
                  <th class="th-lg">S_name</th>
                  <th class="th-lg">Email_id</th>
                  <th class="th-lg">D_of_join</th>

                </tr>
              </thead>
              <!--Table head-->
          
              <!--Table body-->
              <tbody>
                {% for i in data %}
                <tr class="tr">
                 <td>{{i.id}}</td>
                 <td>{{i.username}}</td>
                 <td>{{i.email}}</td>
                  
                  <td>{{i.date_joined}}</td>
                </tr>
                {% endfor %}

            </table>
  
          </div>
        
            <span class="lead" >
              <a href="/index/" class="btn btn-primary " style="color: rgb(253, 253, 253); text-decoration: none; ">Go Back</a>
              </span>
            </div>
          </form>
          
        </p>
      </div>
    </div>
    {% include "library_app/footer.html" %}
</body>
</html>