<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
    {% include "library_app/base.html" %}
    <style>
        body{
            background-image:url("{% static 'images/lib.jpg' %}");
        }
        #jbt{
          background-image: url("{% static 'images/book.jpg' %}");
        }
    </style>
</head>
<body >
    <!-- navbar navbar-dark bg-primary -->
    {% include "library_app/navbar.html" %}
      <br>
      <br>
      <div class='jbt1'>
      <div class="jumbotron" id="jbt" >
        <h1 id="a">Enter Book Details</h1>
        <form action="" method="post">{%csrf_token%}
            <!-- 2 column grid layout with text inputs for the first and last names -->
            <hr class="my-4">
            <div class="row mb-4">
              <div class="col">
                <div class="form-outline">
                  <input type="text" id="form3Example1" class="form-control" placeholder="Enter Book Name" name="bname" required/>
                  <label class="form-label" for="form3Example1" >Book Name</label>
                </div>
              </div>
              <div class="col">
                <div class="form-outline">
                  <input type="text" id="form3Example2" class="form-control" placeholder="Enter Author Name" name="aname" required/>
                  <label class="form-label" for="form3Example2" >Author Name</label>
                </div>
              </div>
            </div>
          
            <!-- Email input -->
            <!-- <div class="form-outline mb-4">
              <input type="date" id="form3Example3" class="form-control" name="date" required/>
              <label class="form-label" for="form3Example3">Submit Date</label>
            </div> -->

            <div class="form-outline mb-4">
<select class="custom-select" id="m" name="category" required>
                <option selected>Select Category Of Book</option>
                <option name="category">Novel</option>
                <option name="category">Action</option>
                <option name="category">Horror</option>
                <option name="category">Adventure</option>
                <option name="category">Programming</option>
              </select>
              <label class="form-label" for="m">Book Category</label>
            </div>
          
           
            <button type="submit" class="btn btn-primary btn-block mb-4">Add Data</button>
             </button>
             <span class="lead" >
              <a href="/index/" class="btn btn-danger " style="color: rgb(253, 253, 253); text-decoration: none; ">Go Back</a>
              </span>
            </div>
          </form>
        </p>
      </div>
    </div>
    {% include "library_app/footer.html" %}
</body>
</html>