<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="{% static 'css/form.css' %}">
        {% include "library_app/base.html" %}
        <style>
            body{
                background-image:url("{% static 'images/lib.jpg' %}");
                background-color: azure;
            }
             /* #jbt{
              background-image: url("{% static 'images/book.jpg' %}");
            }  */
        </style>
    </head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light "> 
    <a class="navbar-brand" href="#"> </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
       


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

</li>
      </ul>
    </div>
    </div>
    <span class="navbar-text" id="lib">
     <h3> Library Management System</h3>
      </span>
  </nav>
<br><br>
    
        
       
    <div class='jbt1' style=" margin: 10px auto;
    display: flex;
    justify-content: center;
    margin: 10px 10px 10px 10px;">
        <div class="jumbotron" id="jbt" style="width: 600px; ">
          <div style="color: rgba(14, 12, 12, 0.779); text-align: center;;">
            <h1><a href="/signup/" > SIGNUP</a> </h1><br>
            <h1><a href="/signin/" > LOGIN </a> </h1>
        </div>
        <br>
        <br>  
              {% for i in messages %}
              {{i}}
              {% endfor %}
        </div>
      </div>
    

</body>
</html>
