<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  {% if user.is_superuser == 1 %}
  <nav class="navbar navbar-expand-lg navbar-light bg-light "> 
    <a class="navbar-brand" href="#">{{request.user}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/index/">Home <span class="sr-only">(current)</span></a>
        </li>
       
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Books
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="background-color:rgb(223, 207, 185);" >
              <a class="dropdown-item" href="/form/">Add Book</a>
              <a class="dropdown-item" href="/display/">Display Books</a>
              <a class="dropdown-item" href="/display_update/">Update Book</a>
              <a class="dropdown-item" href="/display_delete/">Delete Book</a>
            </div>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Student
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="background-color:rgb(223, 207, 185);" >
                <a class="dropdown-item" href="/display_stu/">Display Students</a>
                <a class="dropdown-item" href="/dispaly_s_iss_b/{{0}}">Student requests</a>
                <a class="dropdown-item" href="/delete_stu/">Delete Student</a>
                <a class="dropdown-item" href="/display_acc_req/">accpted request</a>
              </div>
        <li class="nav-item dropdown">
                       <!-- Button trigger modal --><li>
<a role="button" class="nav-link" data-toggle="modal" href="#exampleModal" style=" border: none; color: rgba(0, 0, 0, 0.619);">
About
</a>
<li class="nav-item active">
<a class="nav-link" href="/logout/">Logout <span class="sr-only">(current)</span></a>
</li>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">
      About Liabrary Management System</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>`
  </div>

  <div class="modal-body">
    <p>Moving on, this library management system project in Python Django focuses mainly on dealing with adding books and records. Also, the system displays all the books . In addition, the system allows managing books by entering a name, author, date, and category. This project is based on Admin Panel.</p>        </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</li>
          </ul>
        </div>
        </div>
        <span class="navbar-text" id="lib">
          Library Management System
          </span>
      </nav>
      {% else %}
      <nav class="navbar navbar-expand-lg navbar-light bg-light "> 
        <a class="navbar-brand" href="#">Hello {{request.user}}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/index/">Home <span class="sr-only">(current)</span></a>
            </li>
           
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Books
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="background-color:rgb(223, 207, 185);" >
           
                  <a class="dropdown-item" href="/display/">Display Books</a>
                  <a class="dropdown-item" href="/dispaly_s_iss_b/{{user.id}}">view book request</a>
                  <a class="dropdown-item" href="/display_iss_b/{{user.id}}">view issued book</a>
                </div>
                
            <li class="nav-item dropdown">
                           <!-- Button trigger modal --><li>
    <a role="button" class="nav-link" data-toggle="modal" href="#exampleModal" style=" border: none; color: rgba(0, 0, 0, 0.619);">
    About
    </a>
    <li class="nav-item active">
    <a class="nav-link" href="/logout/">Logout <span class="sr-only">(current)</span></a>
    </li>
    
    
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          About Liabrary Management System</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>`
      </div>
    
      <div class="modal-body">
        <p>Moving on, this library management system project in Python Django focuses mainly on dealing with adding books and records. Also, the system displays all the books . In addition, the system allows managing books by entering a name, author, date, and category. This project is based on Admin Panel.</p>        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
           
          </div>
        </div>
      </div>
    </div>
    </li>
              </ul>
            </div>
            </div>
            <span class="navbar-text" id="lib">
              Library Management System
              </span>
          </nav>
  {% endif %} 
 
</body>
</html>