<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/update.css' %}">
    {% include "library_app/base.html" %}
    <style>
        body{
            background-image:url("{% static 'images/lib.jpg' %}");
        }
        #jbt{
          background-image: url("{% static 'images/book.jpg' %}");
        }
        #bac{
           background-color: rgba(8, 7, 7, 0.379);
           padding: 8px 8px 3px 8px;
        }
    </style>
</head>
<body >
    <!-- navbar navbar-dark bg-primary -->
    {% include "library_app/navbar.html" %}
      <br>
      <br>
      <div class='jbt1'>
      <div class="jumbotron" id="jbt" >
        <h1 id="a">Update {{data.B_name}} Book Details</h1>

        <form action="" method="post">{%csrf_token%}
            <!-- 2 column grid layout with text inputs for the first and last names -->
            <hr class="my-4">
            <div class="row mb-4">
              <div class="col">
                <div class="form-outline">
                  <input type="text" id="form3Example1" class="form-control" value="{{data.B_name}}" name="bname"  required >
                  <label class="form-label" for="form3Example1" >Book Name</label>
                </div>
              </div>
              <div class="col">
                <div class="form-outline">
                  <input type="text" id="form3Example2" class="form-control"  name="aname" value='{{data.A_name}}' required>
                  <label class="form-label" for="form3Example2" >Author Name</label>
                </div>
              </div>
            </div>
          
           
            <div class="form-outline mb-4">
              <input type="text" id="form3Example3" class="form-control" name="date" onload="My_Date()"  value="{{data.Date}}" autofocus>
              <label class="form-label" for="form3Example3">Submit Date</label>
            </div>
            <script>
              function My_Date() {
                  var d = document.getElementById("test_Date").defaultValue;
                 
              }
          </script>

            <div class="form-outline mb-4">
<select class="custom-select" id="m" name="category" value="{{data.category}}"  required>
                <!-- <option selected>{{data.category}}</option> -->
                <option name="category" >Novel</option>
                <option name="category">Action</option>
                <option name="category">Horror</option>
                <option name="category">Aventure</option>
              </select>
              <label class="form-label" for="m">Book Category</label>
            </div>
          
            
            <!-- Submit button -->
            <div class="jumbotron" id="bac">
    
            <button type="submit" class="btn btn-primary " >Save Data</button>
            
              <span class="lead" >
                <a href="/display_update/" class="btn btn-primary " style="color: rgb(253, 253, 253); text-decoration: none; ">Go Back</a>
                </span>
   
          </div>
        
          
      
            </div>
          </form>
         
        </p>
      </div>
    </div>
    {% include "library_app/footer.html" %}
</body>
</html>